@import '~bootstrap/dist/css/bootstrap.min.css';


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #9D576D;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier',
    monospace;
}

.jumbotron{
  background-color: #9D576D;  
  height: 425px;
  margin-left: calc(50% - 50vw);
  width: 100vw;
}
.yogaPic {
  text-align: center;
 
 
 
  
}

.carouselItem {
  width: 1000px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
